@font-face {
    font-family: DactylBold;
    src: url(Dactyl\ Sans\ Bold.ttf);
}
@font-face {
    font-family: DactylExtraLight;
    src: url(Dactyl\ Sans\ Extra\ Light.ttf);
}
body {
    background-color: lightgrey;
    /* background-image:url(paper.svg); */
    padding: 35px;
}
.flow {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.fade {
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    padding: 60px;
    width: 160px;
    height: 160px;
    font-family: DactylBold;
    font-size: 20pt;
    text-decoration: none;
}
.fade img,canvas {
    position: absolute;
    width: 280px;
    height: 280px;
    margin: -60px;
    transition: opacity .8s;
    z-index: 0;
}
/* fade between images on hover, from https://stackoverflow.com/a/44908602/1991573 */
.fade img:first-child,.fade canvas {
    opacity: 0;
    z-index: 1;
}
.fade:hover img:first-child,.fade:hover canvas { 
    opacity: 1;
}
.fade:after {
    content: '';
    position: absolute;
    width: 280px;
    height: 280px;
    margin: -60px;
    background: linear-gradient(to bottom, rgba(0,0,0,0) 70%, rgba(0,0,0,0.3) 100%);
}
.content {
    position: relative;
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1; 
    /* height: 20%; */
    width: 100%;
    padding: 25px;
    z-index: 2;
}
@keyframes pulse {
    0% {r: 70;}
    50% {r: 65;}
    100% {r: 70;}
}
